<%- include('./partials/header') %>
<!-- <h1>Welcome to the carts page!!</h1> -->
<br>
<br>
<br>

<div class="cart-card">
    <img class="cart-card__image" src="https://images-na.ssl-images-amazon.com/images/I/61utX8kBDlL._UL1100_.jpg">
    <div class="cart-card__info">
        <p>Nike Air Jordan</p>
        <p>Price : 40$</p>
        <p>Quantity: x1</p </div>
        <button class="cart-delete-btn btn btn-outline-danger">Delete</button>
    </div>
</div>
<div class="cart-card">
    <img class="cart-card__image" src="https://images-na.ssl-images-amazon.com/images/I/61utX8kBDlL._UL1100_.jpg">
    <div class="cart-card__info">
        <p>Nike Air Jordan</p>
        <p>Price : 40$</p>
        <p>Quantity: x1</p </div>
        <button class="cart-delete-btn btn btn-outline-danger">Delete</button>
    </div>
</div>
<div class="cart-card">
    <img class="cart-card__image" src="https://images-na.ssl-images-amazon.com/images/I/61utX8kBDlL._UL1100_.jpg">
    <div class="cart-card__info">
        <p>Nike Air Jordan</p>
        <p>Price : 40$</p>
        <p>Quantity: x1</p </div>
        <button class="cart-delete-btn btn btn-outline-danger">Delete</button>
    </div>
</div>
<%- include('./partials/footer') %>