<%- include('./partials/header') %>
<div class="product-card card" style="width: 18rem;">
    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/714/857/jmwch3k0/shoe/j/y/n/dg-292-white-blue-patti-10-digitrendzz-white-original-imaf9p36fkykfjqt.jpeg?q=50" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Nike Air Jordan</h5>
        <p class="card-text">The air jordan series of Nike is a premium shoe model and very popular too.</p>
        <a href="#" class="btn btn-outline-success">Add to cart</a>
    </div>
</div>
<%- include('./partials/footer') %>